{
	admin off
	servers {
		trusted_proxies static private_ranges
		trusted_proxies_strict
		client_ip_headers CF-Connecting-IP X-Forwarded-For
	}
}

http://:8080 {
	encode zstd gzip

	@www host www.emecworks.com
	handle @www {
		redir https://emecworks.com{uri} permanent
	}

	@tunnel_test host tunnel-test.emecworks.com
	handle @tunnel_test {
		reverse_proxy web:8080 {
			header_up Host emecworks.com
		}
	}

	@portfolio host emecworks.com
	handle @portfolio {
		reverse_proxy web:8080
	}

	handle {
		respond "Unknown tunnel hostname" 404
	}

	log {
		output stdout
		format json
	}
}
