[Unit]
Description=Scan Emecworks application errors every five minutes

[Timer]
OnCalendar=*:0/5
RandomizedDelaySec=20s
Persistent=true
Unit=emecworks-log-monitor.service

[Install]
WantedBy=timers.target
